
head
{
margin: 0;
padding: 0;
}
.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items:center;
    position:fixed;
    

}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}
.nav-links ul li a{
    color: azure;
    text-decoration: none;
    font-size: 12px;

}
.nav-links ul li ::after{
    content: '';
    width: 0%;
    height:2px;
    background: #bbbbbb;
    display: block;
    margin:auto;

}
.nav-links ul li :hover::after{
    width:100%
}

body
{
background-color: rgba(0, 0, 0);
background-position:inherit;
background-size:cover;
background-repeat:no-repeat;
position:relative;
font-family: 'Poppins' ,sans-serif;
}
.text-box{
    color:white;
    background-color: rgba(0, 0, 0, 0.25);
    padding-right:10px;
}
.goods-col{
    flex-basis:31%;
    border-radius: 5px;
    margin-bottom: 5%;
    text-align:left;
    cursor: pointer;
    background-color: rgb(136, 136, 136,0.25);
    padding: 10px;
}
.goods-col img{
width:150px;
height:150px;
border-radius: 10px;

}
.goods-col h3{
margin-top:16px;
margin-bottom:13px;
text-align: left;
color: rgb(139, 139, 139);
}
.goods-col h3:hover{
    color: rgb(255, 217, 0);
}

.goods-col p{
padding: 0;
color: rgb(157, 157, 157);
}
.goods-col p:hover{
color: rgb(255, 217, 0);
}

@media (max-width: 700px) {
    .text-box h1 {
        font-size: 20px; /* Font size for smaller screens */
    }
    .nav-links {
        position: absolute; /* Position to absolute for smaller screens */
        top: 0;
        left: 0;
        width: 100%;
        background-color: #f9f9f9;
        padding: 10px;
        box-sizing: border-box;
        display: none;
    }
}