
head
{
margin: 0;
padding: 0;
}

*{
    margin:0;
    padding:0;
    font-family: 'Poppins' ,sans-serif;
}
.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items:center;
    position:fixed;

}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: azure;
    text-decoration: none;
    font-size: 12px;

}
.nav-links ul li ::after{
    content: '';
    width: 0%;
    height:2px;
    background: #bbbbbb;
    display: block;
    margin:auto;

}
.nav-links ul li :hover::after{
    width:100%
}

body
{
background-image: url("./images/daria-volkova-BMnX7L9G5xc-unsplash.jpg");
background-position:inherit;
background-size:cover;
background-repeat:no-repeat;
position:relative;
font-family: 'Poppins' ,sans-serif;
}



.contact-box
{
width: 500px;
background-color:transparent;
box-shadow: rgb(0, 0, 0);
top: 400px;
left: 800px;
margin-left:20px;
transform: translate(-50%,-50%);
position: absolute;
}


form
{
margin: 35px;
}

.input-field
{
width: 400px;
height: 40px;
margin-top: 20px;
padding-left: 10px;
border: 1px solid #ffffff;
border-radius: 5px;
outline: none ;
}

.textarea-field
{
   height: 150px;
   padding-top: 10px;

}

.button
{
   border-radius: 5px;
   color:rgb(255, 255, 255) ;
   margin-top: 5px;
   padding: 10px;
   background-color: rgb(136, 136, 136);
   border: none;
   cursor:pointer;
}
.button:hover{
    color:rgb(238, 255, 0);
    
}

.text-box3{
    padding: 10px;
    margin-top:50px;
    margin-left:50px;
    margin-right:50px;
    color:aliceblue;
    background-color:rgba(151, 151, 151, 0.25);
    width:300px;
    height: 100%;

}
.nav-links2
{
    width: 300px;
    min-height:400px;
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding:20px;
    color:#ffffff;
    text-decoration: none;
    background: transparent;
    margin-top: -650px;
    margin-left: 40px;
}
.nav-links2 a{
    color:#ffffff;
    padding-top: 15px;
    
    text-decoration: none;
    text-transform: uppercase;
    padding:20px 20px;
    letter-spacing:none;
}
.nav-links2 a:hover{
    color:darkgrey;
    transition:0.04s;
}